@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" arial-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" class="active" arial-label="Slide 2"> </button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" class="active" arial-label="Slide 3"> </button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="~/Images/Hus.jpg" class="d-block w-100" alt="Hus">
        </div>        
        <div class="carousel-item active">
            <img src="~/Images/Hage.jpg" class="d-block w-100" alt="Hage">
        </div>
        <div class="carousel-item">
            <img src="~/Images/InnvendigHus.jpg" class="d-block w-100" alt="Innvendig">
        </div>
    </div>
</div>
